body {
  font-family: "Montserrat", "Arial", sans-serif;
}

.banner {
  position: relative;
  display: inline-block;
  width: 100%;
}

.banner__image {
  width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
  overflow: auto;
}

.infrastructure-card.infrastructure-card--right {
  right: 120px;
  left: auto;
}

.infrastructure-card {
  position: absolute;
  left: 120px;
  top: 30%;
  width: 620px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  background-color: #8c9e80;
  padding: 30px 0;
  border-radius: 20px;
}

.infrastructure-card__badge {
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  padding: 0 20px;
  text-align: center;
  margin: 0 0 10px 0;
  display: block;
}

.infrastructure-card__title {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.02em;
  margin: 0 auto 20px;
  text-transform: uppercase;
  max-width: 400px;
  text-align: center;
}

.infrastructure-card__description {
  max-width: 500px;
  min-height: 100px;
  text-align: center;
  margin: 0 auto 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  display: block;
}

.infrastructure-card__link {
  font-size: 14px;
  line-height: 20px;
  padding: 14px;
  width: 145px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  margin: 0 auto;
  border-radius: 60px;
  display: block;
  text-decoration: none;
}

.infrastructure-card__link:hover {
  opacity: 0.8;
}
